@use './variables';
@use './themes';

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



body {
    @include themes.light-theme;
}

hr {
    width: 80px;
    height: 6px;
    background-color: #EB4747;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    border-radius: 25px;
}

body.dark {
    @include themes.dark-theme;
    background-color: var(--background-color);
    color: var(--font-color);
}

.underline {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    position: relative;

    &:before {
        display: block;
        content: "";
        position: absolute;
        background-color: var(--font-color);
        height: 2px;
        width: 0;
        bottom: 0;
        left: 0;
        transition: 0.3s;                    
    }

    &:hover:before {
        visibility: visible;
        width: 100%;
    }
}