@use './variables';
@use './mixins';
@use './themes';


.header {
    background-color: var(--primary-color);
    color: #fff;
    padding: variables.$padding;

    &__nav {
        &__list {
            list-style: none;
            display: flex;

            &__item {
                display: inline;
                margin-right: variables.$margin;
            }
        }
    }

    &__menuIcon {
        display: none;
        cursor: pointer;

        .hamburger-icon {
            span {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                background-color: var(--secondary-color);
                transition: all 0.3s ease-in-out;
            }

            &.open {
                span {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(5px, 5px);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg) translate(5px, -5px);
                    }
                }
            }
        }
    }
}

main {
    .home {
        margin-top: 5%;
        margin-bottom: 5%;

        &__title {
            @include mixins.flex-center;
        }

        &__description {
            margin-left: 3%;
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                max-width: 100%;
                height: auto;
            }
            a {
                font-size: 1em;
                color: var(--font-color);
            }
        }
    }

    .skills {

        &__title {
            @include mixins.flex-center;
        }

        &__container {
            margin: 5% 0;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;

            #python {
                @include mixins.progress-bar(var(--secondary-color), 90%);
            }

            #java {
                @include mixins.progress-bar(var(--secondary-color), 40%);
            }

            #html {
                @include mixins.progress-bar(var(--secondary-color), 80%);
            }

            #css {
                @include mixins.progress-bar(var(--secondary-color), 80%);
            }

            #figma {
                @include mixins.progress-bar(var(--secondary-color), 20%);
            }

            #git {
                @include mixins.progress-bar(var(--secondary-color), 55%);
            }

            #linux {
                @include mixins.progress-bar(var(--secondary-color), 60%);
            }

            #CSharp {
                @include mixins.progress-bar(var(--secondary-color), 55%);
            }

            &__skill {
                border: 2px solid var(--primary-color);
                border-radius: 5px;
                padding: variables.$padding;

                a {

                    img,
                    svg {
                        width: 60px;
                        height: 65px;
                    }

                    ion-icon {
                        font-size: 60px;
                        color: #000;
                    }
                }
            }
        }

    }

    .projects {
        &__title {
            @include mixins.flex-center;
        }

        &__container {
            margin-top: 3%;
            margin-bottom: 10%;
            display: flex;
            justify-content: space-around;
            flex: 1;
            flex-wrap: wrap;

            &__card {
                text-align: center;
                width: 250px;
                height: 350px;
                overflow: hidden;

                .img-projects {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }

                p {
                    margin: 0 0 1rem 0;
                }

            }
        }

        a {
            @include mixins.button(var(--secondary-color));
        }
    }

    .contact {
        padding: variables.$padding;
        margin: variables.$margin 0;

        &__title {
            @include mixins.flex-center;
        }

        &__description {
            @include mixins.flex-center;
            flex-direction: column;
            gap: 20px;
            margin-top: 5%;

            ion-icon {
                font-size: 16px;
                color: var(--font-color);
            }

            img {
                width: 16px;
            }

            a {
                font-size: 1em;
                color: var(--font-color);
            }

            .icon:hover {
                background-color: color-mix(in srgb, var(--primary-color) 80%, white);
                transition: 0.3s ease-in;
            }
        }


    }
}

footer {
    margin-top: 3%;
    text-align: center;
    padding: variables.$padding;
    background-color: var(--primary-color);
    color: #fff;
}