@use './variables';


@media (max-width: 768px) {
    hr {
        margin-bottom: 5%;
    }
    .header {
        &__title {
            display: none;
        }

        &__nav {
            display: none;

            ul {
                display: flex;
                flex-direction: column;
                position: absolute;
                gap: 5px;
                top: 6%;
                left: 47%;
            }
            
            &.active {
                margin-bottom: 10%;
                display: block;
            }
        }

        &__menuIcon {
            display: block;
        }
    }

    main {
        .home {
            &__description {
                flex-direction: column;
                padding: 0 auto;
                margin-bottom: 5%;
            }
        }


        .projects {
            &__container {
                margin: 0;
                padding: 0 5%;
            }

            &__card {
                width: 100%;
                height: auto;

                .img-projects {
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .header {
        &__nav {
            display: none;
            
            ul {
                display: flex;
                flex-direction: column;
                position: absolute;
                gap: 5px;
                top: 6%;
                left: 42%;
            }
            
            &.active {
                margin-bottom: 25%;
                display: block;
            }
        }
    }

    main {
        padding: 0 16px;
        .home {
            &__description {
                img {
                    width: 100%;
                }
            }
        }

    }
}