// Couleurs claires
$light-primary-color: #3498db;
$light-secondary-color: #2ecc71;
$light-font-color: #333;
$light-background-color: #f9f9f9;

// Couleurs sombres
$dark-primary-color: #2c3e50;
$dark-secondary-color: #27ae60;
$dark-font-color: #f9f9f9;
$dark-background-color: #333;


// Polices
$font-stack: Helvetica, sans-serif;

// Espacements
$padding: 15px;
$margin: 15px;
