// Couleurs
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-color: #333;
$background-color: #f9f9f9;

// Polices
$font-stack: Helvetica, sans-serif;

// Espacements
$padding: 15px;
$margin: 15px;
